<div class="container">

<h2>View Expenses</h2>
<br>
<form id="view-expenses">
    <h5>Filter by</h5>
    {{!-- Be able to filter by Date range, Category, Description --}}
    <div class="form-row">
        <div class="form-group col-sm-4">
            <label for="category-search">Category (optional)</label>
            <select id="category-search" class="form-control">
                <option value="">All</option>
                {{#each categories}}
                    <option value={{this.id}}>{{category_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-sm-8 col-md-5">
            <label for="description-search">Description (optional)</label>
            <input id="description-search" type="text" class="form-control">
        </div>
    </div>
    {{!-- <br> --}}
    <div class="form-row">
        <div class="form-group col-sm-4 col-md-3">
            <label for="date-search">Date range</label>
            <select id="date-search" class="form-control">
                <option value="last30days">Last 30 Days</option>
                <option value="last90days">Last 90 Days</option>
                <option value="last6months">Last 6 Months</option>
                <option value="last12months">Last 12 Months</option>
                <option value="customrange">Custom range</option>
            </select>
        </div>
        <div id="date-range" style="display:none" class="form-group col-sm-8 col-md-6">
            <div class="form-row">
                <div class="form-group col-sm-6 col-md-6">
                    <label for="date-range-min">Start</label>
                    <input type="date" id="date-range-min" class="form-control" required>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="date-range-max">End</label>
                    <input type="date" id="date-range-max" class="form-control" required>
                </div>

            </div>
        </div>
    </div>
    <br>
    <input type="submit" class="btn" value="Search">
</form>
<div id="expenses-display" class="my-3">
    {{!-- {{#if expenses}}
        {{#each expenses}}
            {{id}} {{description}} {{amount}} {{date}} {{CategoryId}} <br>
        {{/each}}
    {{/if}} --}}
</div>


</div> {{!-- .container --}}


<script src="/js/viewexpenses.js"></script>